body {
	font-family: Helvetica, Verdana, sans-serif;
}
a,a:link,a:visited,a:hover {
	color: rgb(202,16,0)
}
a:hover {
	color: rgb(250,0,0)
}
.header {
	text-align: center;
}
.header .avatar {
	border-radius: 6px;
}
.contacts {
	margin-top: 20px;
	margin-bottom: 20px;
}
.contacts dt, .contacts dd {
	display: inline;
	margin: 0;
	padding: 0;
}
.contacts dt {
	font-weight: bold;
	color: rgb(0,92,128);
}
.contacts dt:after {
	content: ":";
}
.contacts dd:after {
	content: " // ";
}
.contacts dd:last-child:after {
	content: "";
}
.facts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}

